<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FireCrypt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<userSettings>
		<FireCrypt.Properties.Settings>
			<setting name="License" serializeAs="String">
				<value>&lt;License&gt;NoLicense&lt;/License&gt;</value>
			</setting>
			<setting name="UpgradeRequired" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="VolumeList" serializeAs="String">
				<value>NoVolumes</value>
			</setting>
		</FireCrypt.Properties.Settings>
	</userSettings>
</configuration>